@model ViewmMODeElMASTER
@{
    ViewData["Title"] = ResourceWeb.LBAddOrder;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row small-spacing">
    <div class="col-12">
        <div class="box-content">
            <ul class="list-inline">
                <li class="margin-bottom-10">
                    <a href="#"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">@ResourceWeb.LBAddOrder</button></a>
                </li>
                <li class="margin-bottom-10">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Admin Home</button></a>
                </li>
                <li class="margin-bottom-10">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light">Home</button></a>
                </li>
            </ul>
            <span class="text-primary"><strong>@TempData["Saved successfully"]</strong></span>
            <span class="text-danger"><strong>@TempData["ErrorSave"]</strong></span>
        </div>
    </div>

    <div class="col-lg-6 col-xs-12">
        <div class="box-content card white">
            <h4 class="box-title">@ResourceWeb.LBAddOrder</h4>
            <div class="card-content">
                <form role="form" method="post" asp-controller="Order" asp-action="Save" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Order.DataEntry" class="form-control" value="@User.Identity.Name">
                        <input type="hidden" asp-for="@Model.Order.IdPurchaseOrder" class="form-control">
                        <input type="hidden" asp-for="@Model.Order.DateTimeEntry" value="@DateTime.Now">
                        <input type="hidden" asp-for="@Model.returnUrl" id="url">
                    </div>

                    <div class="row small-spacing">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdBondType">@ResourceWeb.LbBondType</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdBondType" asp-items="@(new SelectList(ViewBag.BondType, "IdBondType", "BondType"))" id="SelectBondType"></select>
                                <span asp-validation-for="@Model.Order.IdBondType" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdMerchants">@ResourceWeb.lbMerchantName</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdMerchants" asp-items="@(new SelectList(ViewBag.Merchants, "IdMerchants", "Name"))" id="SelectMerchant"></select>
                                <span asp-validation-for="@Model.Order.IdMerchants" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row small-spacing">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdProductCategory">@ResourceWeb.LbProductCategory</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdProductCategory" asp-items="@(new SelectList(ViewBag.ProductCategory, "IdProductCategory", "ProductCategory"))" id="SelectProductCategory"></select>
                                <span asp-validation-for="@Model.Order.IdProductCategory" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdTypesProduct">@ResourceWeb.LbBondType</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdTypesProduct" asp-items="@(new SelectList(ViewBag.TypesProduct, "IdTypesProduct", "TypesProduct"))" id="SelectTypesProduct"></select>
                                <span asp-validation-for="@Model.Order.IdTypesProduct" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row small-spacing">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdProductInformation">@ResourceWeb.lbProductName</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdProductInformation" asp-items="@(new SelectList(ViewBag.ProductInformation, "IdProductInformation", "ProductName"))" id="SelectProductInformation" onchange="updateProductImage()"></select>
                                <span asp-validation-for="@Model.Order.IdProductInformation" class="text-danger"></span>

                            </div>
                        </div>

                        @* <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdBWareHouse">@ResourceWeb.LbWareHouse</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdBWareHouse" asp-items="@(new SelectList(ViewBag.WareHouse, "IdBWareHouse", "Description"))" id="SelectWareHouse"></select>
                                <span asp-validation-for="@Model.Order.IdBWareHouse" class="text-danger"></span>
                            </div>
                        </div> *@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdBWareHouse">@ResourceWeb.LbWareHouse</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdBWareHouse" asp-items="@(new SelectList(ViewBag.WareHouse, "IdBWareHouse", "Description"))" id="SelectWareHouse" onchange="loadWarehouseBranches()"></select>
                                <span asp-validation-for="@Model.Order.IdBWareHouse" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row small-spacing">
                        @* <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdBWareHouseBranch">@ResourceWeb.LbWareHouseBranchName</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdBWareHouseBranch" asp-items="@(new SelectList(ViewBag.WareHouseBranch, "IdBWareHouseBranch", "WareHouseBranchName"))" id="SelectWareHouseBranch"></select>
                                <span asp-validation-for="@Model.Order.IdBWareHouseBranch" class="text-danger"></span>

                            </div>
                        </div> *@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.IdBWareHouseBranch">@ResourceWeb.LbWareHouseBranchName</label>
                                <select class="form-control select2_1" asp-for="@Model.Order.IdBWareHouseBranch" asp-items="@(new SelectList(ViewBag.WareHouseBranch, "IdBWareHouseBranch", "WareHouseBranchName"))" id="SelectWareHouseBranch"></select>
                                <span asp-validation-for="@Model.Order.IdBWareHouseBranch" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.PurchaseOrderNoumber">@ResourceWeb.lbPurchaseOrderNoumber</label>
                                <input id="OrderNoumber" asp-for="@Model.Order.PurchaseOrderNoumber" type="text" placeholder="@ResourceWeb.lbPurchaseOrderNoumber ...." class="form-control" maxlength="300">
                                <span asp-validation-for="@Model.Order.PurchaseOrderNoumber" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row small-spacing">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.PurchasePrice">@ResourceWeb.LbPurchasePrice</label>
                                <input id="PurchasePrice" asp-for="@Model.Order.PurchasePrice" type="text" placeholder="@ResourceWeb.LbPurchasePrice ...." class="form-control" maxlength="300">
                                <span asp-validation-for="@Model.Order.PurchasePrice" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.sellingPrice">@ResourceWeb.LbsellingPrice</label>
                                <input id="sellingPrice" asp-for="@Model.Order.sellingPrice" type="text" placeholder="@ResourceWeb.LbsellingPrice ...." class="form-control" maxlength="300">
                                <span asp-validation-for="@Model.Order.sellingPrice" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row small-spacing">

                        <div class="col-sm-6">
                            @* <div class="form-group">
                                <label asp-for="@Model.Order.GlobalPrice">@ResourceWeb.LbGlobalPrice</label>
                                <input id="GlobalPrice" asp-for="@Model.Order.GlobalPrice" type="text" placeholder="@ResourceWeb.LbGlobalPrice...." class="form-control" maxlength="300">
                                <span asp-validation-for="@Model.Order.GlobalPrice" class="text-danger"></span>

                            </div> *@
                            <div class="form-group">
                                <label asp-for="@Model.Order.GlobalPrice">@ResourceWeb.LbGlobalPrice</label>
                                <input id="GlobalPrice" asp-for="@Model.Order.GlobalPrice" type="text" placeholder="@ResourceWeb.LbGlobalPrice...." class="form-control" maxlength="300" readonly>
                                <span asp-validation-for="@Model.Order.GlobalPrice" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.SpecialSalePrice">@ResourceWeb.LbSpecialSalePrice</label>
                                <input id="SpecialSalePrice" asp-for="@Model.Order.SpecialSalePrice" type="text" placeholder="@ResourceWeb.LbSpecialSalePrice ...." class="form-control" maxlength="300">
                                <span asp-validation-for="@Model.Order.SpecialSalePrice" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="row small-spacing">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.QuantityIn">@ResourceWeb.LbQuantityIn</label>
                                <input id="QuantityIn" asp-for="@Model.Order.QuantityIn" type="text" placeholder="@ResourceWeb.LbQuantityIn...." class="form-control">
                                <span asp-validation-for="@Model.Order.QuantityIn" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="@Model.Order.Qrcode">@ResourceWeb.lbQrcode</label>
                                <textarea id="Qrcode" asp-for="@Model.Order.Qrcode" type="text" placeholder="@ResourceWeb.lbQrcode ...." class="form-control" maxlength="1000" rows="8"></textarea>
                                <span asp-validation-for="@Model.Order.Qrcode" class="text-danger"></span>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <img id="QRCodeImage" src="" alt="QR Code" class="img-fluid" />
                            <div>
                                <a class="btn btn-sm btn-outline-primary" onclick="printWarehouseDetails1()">Print</a>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light">@ResourceWeb.lbSave</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xs-12">
        <div class="box-content">
            <h4 class="box-title">Product Image</h4>
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <a href="#" class="thumbnail">
                        <img id="ProductImage" src="http://placehold.it/220x180" alt="Product Image" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="~/Admin/assets/plugin/select2/js/select2.min.js"></script>
    <script src="~/Admin/assets/plugin/multiselect/multiselect.min.js"></script>
    <script>
        // function updateProductImage() {
        //     var productId = $('#SelectProductInformation').val();
        //     if (productId) {
        //         $.ajax({
        //             url: '@Url.Action("GetProductDetails", "Order")',
        //             type: 'GET',
        //             data: { id: productId },
        //             success: function (data) {
        //                 $('#ProductImage').attr('src', data.imageUrl);
        //                 $('#GlobalPrice').val(data.globalPrice); // Assuming you have a text field to show the global price
        //             },
        //             error: function (xhr, status, error) {
        //                 console.error("Error fetching product details: ", error);
        //                 $('#ProductImage').attr('src', 'http://placehold.it/220x180'); // Default image
        //                 $('#GlobalPrice').val("N/A");
        //             }
        //         });
        //     } else {
        //         $('#ProductImage').attr('src', 'http://placehold.it/220x180'); // Default image
        //         $('#GlobalPrice').val("N/A");
        //     }
        // }
        function loadWarehouseBranches() {
            var warehouseId = $('#SelectWareHouse').val();
            if (warehouseId) {
                $.ajax({
                    url: '@Url.Action("GetSubWarehouses", "Order")',
                    type: 'GET',
                    data: { IdBWareHouse: warehouseId },
                    success: function (data) {
                        var $branchSelect = $('#SelectWareHouseBranch');
                        $branchSelect.empty();
                        $.each(data, function (index, item) {
                            $branchSelect.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                        $branchSelect.trigger('change'); // Trigger change event for the updated list
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching warehouse branches: ", error);
                    }
                });
            } else {
                $('#SelectWareHouseBranch').empty();
            }
        }
        function updateProductImage() {
            var productId = $('#SelectProductInformation').val();
            if (productId) {
                $.ajax({
                    url: '@Url.Action("GetProductDetails", "Order")',
                    type: 'GET',
                    data: { id: productId },
                    success: function (data) {
                        $('#ProductImage').attr('src', data.imageUrl);

                        // Ensure the global price is numeric
                        var globalPrice = parseFloat(data.globalPrice.replace(/[^0-9.-]+/g, ""));
                        if (!isNaN(globalPrice)) {
                            $('#GlobalPrice').val(globalPrice.toFixed(2)); // Display the global price with two decimal places
                        } else {
                            $('#GlobalPrice').val("0.00"); // Default to 0.00 if the price is not a number
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching product details: ", error);
                        $('#ProductImage').attr('src', 'http://placehold.it/220x180'); // Default image
                        $('#GlobalPrice').val("0.00"); // Default to 0.00 in case of error
                    }
                });
            } else {
                $('#ProductImage').attr('src', 'http://placehold.it/220x180'); // Default image
                $('#GlobalPrice').val("0.00"); // Default to 0.00 if no product is selected
            }
        }

    </script>

    <script>
        $(document).ready(function () {
            console.log("Document is ready");
            $('.select2_1').select2({
                placeholder: "Select an option",
                allowClear: true
            });

            // Bind change event to the selected company
            $('#SelectFAQ').change(function () {
                console.log("Selected FAQ changed");
                updateCosting();
            });


            // Generate random 5-character string
            function generateRandomString(length) {
                var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                var result = '';
                var charactersLength = characters.length;
                for (var i = 0; i < length; i++) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                }
                return result;
            }

            // Bind change events to WareHouseType and Description fields

            $('#sellingPrice').on('change keyup', function () {
                updateCodeField();
            });


            function updateQRCode() {
                var code = $('#Qrcode').val();
                if (code) {
                    $('#QRCodeImage').attr('src', '@Url.Action("GenerateQRCode", "Order")?text=' + encodeURIComponent(code));
                } else {
                    $('#QRCodeImage').attr('src', '');
                }
            }

            // Function to update the Code field
            function updateCodeField() {
                var Merchant = $('#SelectMerchant option:selected').text();
                var WareHouse = $('#SelectWareHouse option:selected').text();
                var WareHouseBranch = $('#SelectWareHouseBranch option:selected').text();
                var ProductInformation = $('#SelectProductInformation option:selected').text();
                var sellingPrice = $('#sellingPrice').val();

                var randomString = generateRandomString(5);

                if (Merchant && WareHouse) {
                    var code = Merchant + WareHouse + WareHouseBranch + ProductInformation + sellingPrice + randomString;
                    $('#Qrcode').val(code);
                    updateQRCode();
                }
            }


        });

    </script>
    <script>
        $("#url").val(window.location.href);
        function printWarehouseDetails1() {
            var Merchant = $('#SelectMerchant option:selected').text();
            var WareHouse = $('#SelectWareHouse option:selected').text();
            var WareHouseBranch = $('#SelectWareHouseBranch option:selected').text();
            var ProductInformation = $('#SelectProductInformation option:selected').text();
            var sellingPrice = $('#sellingPrice').val();
            var qrCodeSrc = $('#QRCodeImage').attr('src');

            var url1 = '@Url.Action("PrintWareHouseDetails", "Order")';

            // ترميز مكونات URI للتعامل مع الأحرف الخاصة
            url = `${url1}?Merchant=${encodeURIComponent(Merchant)}&WareHouse=${encodeURIComponent(WareHouse)}&ProductInformation=${encodeURIComponent(ProductInformation)}&WareHouseBranch=${encodeURIComponent(WareHouseBranch)}&sellingPrice=${encodeURIComponent(sellingPrice)}&qrCodeSrc=${encodeURIComponent(qrCodeSrc)}`;

            // إرسال طلب GET للحصول على محتوى الطباعة
            $.get(url, function (data) {
                var printWindow = window.open('', '_blank');
                printWindow.document.open();
                printWindow.document.write(data);
                printWindow.document.close();

                // التأكد من أن المحتوى قد تم تحميله بالكامل قبل الطباعة
                printWindow.onload = function () {
                    printWindow.print();
                };
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.error("Error: ", textStatus, errorThrown);
                alert("Failed to load print content. Please try again.");
            });
        }
    </script>
}


