@model ViewmMODeElMASTER
@{
    ViewData["Title"] = ResourceWeb.LBAddOrder;
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Invoice - Ninja Admin Template</title>

    <!-- Main Styles -->
    <link rel="stylesheet" href="~/Admin/assets/styles/style.min.css">

    <!-- mCustomScrollbar -->
    <link rel="stylesheet" href="~/Admin/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="~/Admin/assets/plugin/waves/waves.min.css">

    <!-- Sweet Alert -->
    <link rel="stylesheet" href="~/Admin/assets/plugin/sweet-alert/sweetalert.css">

    <!-- Dark Themes -->
    <link rel="stylesheet" href="~/Admin/assets/styles/style-dark.min.css">
</head>

<body>
    <div id="wrapper">
        <div class="main-content">
            <div class="row small-spacing">
                <div class="col-xs-12">
                    <div class="invoice-box">
                        <table>
                            <tr class="top">
                                <td colspan="2">
                                    @foreach (var item in Model.ListCompanyInformatione)
                                    {
                                        <table>
                                            <tr>
                                                <td class="title">
                                                    <a href="#">
                                                        <img src="@string.Format("/Images/Home/{0}", item.Photo)"
                                                             class="img-bordered img-circle img-circle"
                                                             style="width:100px; height:100px">
                                                    </a>
                                                </td>
                                                @foreach (var item1 in Model.ListViewOrder)
                                                {
                                                    <td>
                                                        @item1.BondType<br>
                                                        Invoice #: @item1.PurchaseAuotNoumber<br>
                                                        Created: @item1.DateTimeEntry<br>
                                                        Due:  @item1.DateTimeEntry
                                                    </td>
                                                }
                                            </tr>
                                        </table>
                                    }
                                </td>
                            </tr>

                            <tr class="information">
                                <td colspan="2">
                                    <table>
                                        @foreach (var item2 in Model.ListCompanyInformatione)
                                        {
                                            <tr>
                                                <td>
                                                    @item2.CompanyName<br>
                                                    @item2.AddressEn<br>
                                                </td>

                                                <td>
                                                    @item2.PhoneNumber<br>
                                                    @item2.EmailCompany<br>
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>

                            <tr class="heading">
                                 @foreach (var item1 in Model.ListViewOrder)
                                                {
                                <td>
                                    @item1.Name
                                </td>
                                <td>
                                   @item1.PhoneNumber
                                </td>
                                    <td>
                                        @item1.Email
                                    </td>
                                                }
                            </tr>

                            <tr class="details">
                                <td>
                                   
                                </td>
                                <td>
                                   
                                </td>
                            </tr>
                        </table>

                        <div class='table-responsive'>
                            <div style="overflow-x:auto;">
                                <table id="example" class="table table-striped table-bordered table-hover display dataTable responsive" style="width: 100%;" role="grid" aria-describedby="example_info">
                                    <thead>
                                        <tr role="row">
                                            <th>@ResourceWeb.LbPhoto</th>
                                            <th>@ResourceWeb.lbProductName</th>
                                            <th>@ResourceWeb.LbTypesProduct</th>
                                            <th>@ResourceWeb.LbsellingPrice</th>
                                            <th>@ResourceWeb.LbQuantityOute</th>
                                            <th>@ResourceWeb.Lbtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListViewOrder)
                                        {
                                            <tr>
                                                <td>
                                                    <img src="@item.Photo" class="img-bordered img-circle"
                                                         style="width:100px; height:100px">
                                                </td>
                                                <td>@item.ProductName</td>
                                                <td>@item.TypesProduct</td>
                                                <td>@item.sellingPrice</td>
                                                <td>@item.QuantityOute</td>
                                                @{
                                                    var total = item.sellingPrice * item.QuantityOute;
                                                }
                                                <td>@total</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@ResourceWeb.LbPhoto</th>
                                            <th>@ResourceWeb.lbProductName</th>
                                            <th>@ResourceWeb.LbTypesProduct</th>
                                            <th>@ResourceWeb.LbsellingPrice</th>
                                            <th>@ResourceWeb.LbQuantityOute</th>
                                            <th>@ResourceWeb.Lbtotal</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        <table>
                            <tr class="heading">
                                <td>
                                    Payment Method
                                </td>
                                <td>
                                    Check #
                                </td>
                            </tr>

                            <tr class="details">
                                   @foreach (var item in Model.ListViewOrder)
                                        {
                                <td>
                                    Check
                                </td>

                                    <td>
                                  
                                        @{
                                            var total = item.sellingPrice * item.QuantityOute;
                                        }
                                   @total</td>
                                  
                                
                                        }
                            </tr>
                        </table>

                       
                    </div>
                </div>
            </div>
            <footer class="footer">
                <ul class="list-inline">
                    <li>2016 © NinjaAdmin.</li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </footer>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Admin/assets/scripts/jquery.min.js"></script>
    <script src="~/Admin/assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Admin/assets/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Admin/assets/plugin/nprogress/nprogress.js"></script>
    <script src="~/Admin/assets/plugin/sweet-alert/sweetalert.min.js"></script>
    <script src="~/Admin/assets/plugin/waves/waves.min.js"></script>
    <script src="~/Admin/assets/plugin/fullscreen/jquery.fullscreen-min.js"></script>
    <script src="~/Admin/assets/scripts/main.min.js"></script>
</body>
</html>
